.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: calc(100vh - 64px);
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-large {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.signinbutton,
.signupbutton {
  text-decoration: none;
  margin: 10px;
  border-radius: 8px;
}

.buttons {
  margin-top: 10px;
}

.signinbutton {
  background: #1976d2;
  color: white;
  padding: 16px 20px;
  font-size: 20px;
}

.signupbutton {
  background: transform;
  color: #1976d2;
  border: 1px solid #1976d2;
  padding: 16px;
  font-size: 20px;
}

.signinbutton:hover {
  background: #69a1d9;
}

.signupbutton:hover {
  background: white;
  color: #1976d2;
}

.mui-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999999;
}

@media (max-width: 700px) {
  .x-large {
    font-size: 3rem;
  }
  .lead {
    font-size: 1rem;
  }
}
